*,
*::after, /* inherit for before and after pseudo-elements*/
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; /*10/16px - of the browser's set font size */
    // defines what 1 rem is
}

body {
    box-sizing: border-box;
}